---
title: Welcome to Ping's Lab
---
<head>
<!--[if lt IE 10]>
<script src="{{site.baseurl}}/js/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script src="{{site.baseurl}}/js/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 8]>
<script src="{{site.baseurl}}/js/html5shiv.js"></script>
<![endif]-->
</head>
	
{% include showcase.html %}
{% include greeting.html %}
<hr>

<style>
time {font-size:15px }   
.recent-posts ul{list-style-type:none;padding-left:40px;padding-top:4px;}   
.recent-posts h1{ padding:0 2.7%;font-size:1.5em}
</style>

{% if site.posts != empty %}
<div class="recent-posts">
  <h1> &#9827 Recent News</h1>
  {% for post in site.posts limit: 2 %}
    {% if forloop.first %}
      {% assign add_class = 'most-recent' %}
      {% capture fresh_tag %}
        &nbsp;<span class="badge"><smaller>fresh</smaller></span>
      {% endcapture %}
    {% endif %}
    <ul class="homepage-posts">
      <li>
        <span>
          <h4>
            <a href="http://fengyq.github.io/{{ site.baseurl }}/{{ post.url }}">
              {{ post.title }}
            </a>
            {{ fresh_tag }}
            <time class="pull-right">
              {{ post.date | date_to_string | date: "%b %-d, %Y"  }}
            </time>
          </h4>
        </span>
      </li>
    </ul>
    {% assign add_class = '' %}
    {% assign fresh_tag = '' %}
  {% endfor %}
  <ul>
    <a href="{{ site.baseurl }}/news.html">View More...</a>
  </ul>
</div>
{% endif %}