<!--[if lt IE 11]>
<script src="{{site.baseurl}}/js/html5shiv.js"></script>
<!--[if lt IE 10]>
<script src="{{site.baseurl}}/js/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script src="{{site.baseurl}}/js/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 8]>
<script src="{{site.baseurl}}/js/html5shiv.js"></script>
<![endif]-->

<style>
.textnew {color="black"; text-align:center; clear:both; padding:20% 0 10px 45px; font-size:0.5em}
</style>

<div class="container">
  <footer>
    <p class="textnew" >
      &copy; {{ site.time | date: '%Y' }} {{ site.name }} &middot;
      <a href="http://www.imm.pku.edu.cn/"> Institute of Molecular Medicine, Peking University </a>
      &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-map-marker"></i> Yiheyuan Road 5, Beijing, China, 100871  
    </p>
  </footer>
</div>
