<!--[if lt IE 10]>
<script src="{{site.baseurl}}/js/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script src="{{site.baseurl}}/js/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 8]>
<script src="{{site.baseurl}}/js/html5shiv.js"></script>
<![endif]-->

<div class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">{{ site.name }}</p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      <li><a href="{{ site.baseurl }}/about.html">Introduction</a></li>
      <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
      <li><a href="{{ site.baseurl }}/people.html">People</a></li>
      <li><a href="{{ site.baseurl }}/publication.html">Publication</a></li>
      <li><a href="{{ site.baseurl }}/photo.html">Photo</a></li>
      <li><a href="{{ site.baseurl }}/news.html">News</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>


<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/ping.jpg" class="img-circle"><h1 class="brand">{{ site.name }}</h1></a></li>
    <hr />
    <li><a href="{{ site.baseurl }}/about.html">Introduction</a></li>
    <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
    <li><a href="{{ site.baseurl }}/people.html">People</a></li>
    <li><a href="{{ site.baseurl }}/publication.html">Publication</a></li>
    <li><a href="{{ site.baseurl }}/photo.html">Photo</a></li>
    <li><a href="{{ site.baseurl }}/news.html">News</a></li>
    <hr />
    <div id="social-wrapper">
      <li> <a href="{{ site.PKU }}" target="_blank" ><i class="fa fa-arrow-circle-right"></i> PKU</a> </li> 
      <li> <a href="{{ site.CLS }}" target="_blank" ><i class="fa fa-arrow-circle-right"></i> CLS</a> </li>
      <li> <a href="{{ site.IMM }}" target="_blank" ><i class="fa fa-arrow-circle-right"></i> IMM</a> </li>
    </div>
  </ul>
</div>
