<!--[if lt IE 10]>
<script src="{{site.baseurl}}/js/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script src="{{site.baseurl}}/js/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 8]>
<script src="{{site.baseurl}}/js/html5shiv.js"></script>
<![endif]-->
<ul class="pager">
{% if page.previous %}
  <li class="previous"><a href="{{ page.previous.url }}">&larr; Older</a></li>
{% endif %}
{% if page.next %}
  <li class="next"><a href="{{ page.next.url }}">Newer &rarr;</a></li>
{% endif %}
</ul>
