---
---
<!DOCTYPE html>
<!--[if lt IE 10]>
<script src="{{site.baseurl}}/js/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 9]>
<script src="{{site.baseurl}}/js/html5shiv.js"></script>
<![endif]-->
<!--[if lt IE 8]>
<script src="{{site.baseurl}}/js/html5shiv.js"></script>
<![endif]-->
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="nav-toggle"><i class="fa fa-bars fa-2x"></i> Ping's lab</div>
    <div id = "wrapper">
      {%include navigation.html %}
      <div class="container">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>
